
.footer_top {
  background-color: #f4f5f6;
  color: #666;
  padding-top: 30px;
}

.left {
  flex-wrap: wrap;
  padding: 0;
}

.right ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.ico {
  width: 22px;
  margin-right: 10px;
  margin-top: 10px;
  fill: #666;
}

.links {
  background-color: #f4f5f6;
  font-size: 14px;
  line-height: 18px;
  color: #666;
}

.links ul {
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
}

.editions_top {
  width: 100%;
  height: auto;
}

.editions li {
  margin-top: 5px;
}

.links ul li {
  padding: 0 10px 10px 5px;
}

.brand {
  display: block;
  width: 236px;
  height: 36px;
  fill: #f72210;
}

.nav_bottom {
  display: block;
}

.nav_bottom ul li {
  padding-left: 0;
  padding-right: 20px;
}

.copyright {
  font-size: 12px;
  margin-top: 5px;
}

.editions li:hover,
.nav_bottom ul li:hover {
  color: black;
  cursor: pointer;
}

.brand:hover {
  cursor: pointer;
}

.ico:hover {
  cursor: pointer;
  fill: rgb(43, 43, 170);
}

@media screen and (min-width: 769px) {
  .right ul {
    border-bottom: none;
  }

  .social {
    float: right;
  }

  .copyright {
    margin-top: 0;
    margin-left: 5px;
    padding-bottom: 0;
  }
}
