* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5f6;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}

main {
  border-top: 1px solid #dee2e6;
  width: 100%;
  margin: auto;
}

header {
  width: 100%;
  margin: 65px 0 0 0;
}

footer {
  width: 100%;
}

img {
  cursor: pointer;
}

.top_nav2 {
  width: 91%;
  margin: auto;
}

.col1,
.col3 {
  display: none;
}

.top_nav li {
  margin: 10px 5px;
}

article a,
.top_story a {
  color: #000;
}

.font-head a {
  font-size: 14px;
}

article a:hover,
.top_story a:hover {
  color: #000;
}

.body-wrapper {
  height: auto;
  width: 1210px;
  margin: 0 auto;
}

.header-wrapper {
  z-index: 1;
  height: 100px;
  position: sticky;
  color: white;
  width: 100%;
  margin: auto;
  background-color: #f72210;
  padding: 0 10px;
}

.button_nav {
  position: relative;
}

.suscribe_button {
  width: 130px;
  border-radius: 24px;
  right: 20px;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 30px;
  border: none;
  background-color: #ffe400;
  margin: 5px 10px;
  font-weight: bolder;
}

.login_box {
  position: absolute;
  right: 0;
  top: 20%;
}

.logo-head {
  float: left;
  fill: white;
  width: 100%;
}

.header-font {
  font: bold 13px/24px "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.top_menu {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0 15px 0 10px;
}

.top_menu2 {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #666;
  padding: 0 5px;
}

.top_menu2:hover {
  color: #f72210;
}

.search_input {
  background-image: url("img/search.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  width: 200px;
}

.top_menu:hover {
  color: #f72210;
  cursor: pointer;
}

.search-input {
  width: max-content;
}

.navbar-one li {
  border-right: 1px solid #dee2e6 !important;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

.btn-box {
  margin-bottom: 15px;
  margin-right: 1rem;
}

.subscribe-img-top {
  z-index: 1;
  margin-left: -150px;
}

.footer_top {
  background-color: #f4f5f6;
  color: #666;
  margin: 0 30px;
  padding-top: 30px;
}

.footer_sep {
  display: none;
}

.left {
  flex-wrap: wrap;
  padding: 0;
}

.right ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.ico {
  width: 22px;
  flex: 1;
  margin-right: 10px;
  margin-top: 10px;
  fill: #666;
}

.links {
  background-color: #f4f5f6;
  font-size: 14px;
  line-height: 18px;
  color: #666;
}

.links ul {
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
}

.editions_top {
  width: 100%;
  height: auto;
}

.editions li {
  margin-top: 5px;
}

.links ul li {
  padding: 0 10px 10px 5px;
}

.brand {
  display: block;
  width: 236px;
  height: 36px;
  fill: #f72210;
}

.nav_bottom {
  display: block;
}

.nav_bottom ul li {
  padding-left: 0;
  padding-right: 20px;
}

.copyright {
  font-size: 12px;
  margin-top: 5px;
}

.editions li:hover,
.nav_bottom ul li:hover {
  color: black;
  cursor: pointer;
}

.brand:hover {
  cursor: pointer;
}

.ico:hover {
  cursor: pointer;
  fill: rgb(43, 43, 170);
}

article {
  min-height: 130px;
  border-top: 1px solid rgba(3, 3, 3, 0.4);
}

.col2 {
  margin: 5px;
  padding: 0;
}

.articles {
  position: relative;
  width: 100%;
}

.title-category-top {
  color: rgba(3, 3, 3, 0.4);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 10px;
}

.title-category {
  color: rgba(3, 3, 3, 0.4);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 30px;
}

.mid-title {
  line-height: 24px;
  font-size: 22px;
  padding-top: 10px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.details {
  font-family: "Roboto Condensed", sans-serif;
  color: #333;
}

.article_wrap {
  position: relative;
}

.category {
  position: absolute;
  left: 0;
  bottom: 0;
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 15px 9px;
  color: #f72210;
}

.category2 {
  position: absolute;
  left: 0;
  bottom: 0;
  font: bold 13px "Roboto Condensed", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 15px 9px;
  color: #000;
}

.category3 {
  position: absolute;
  left: 0;
  bottom: 0;
  font: bold 13px "Roboto Condensed", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 15px 9px;
  color: #3581f4;
}

.my_turn_details {
  font: bold 15px "Roboto Condensed", sans-serif;
  color: rgba(3, 3, 3, 0.5);
}

.turn3 img {
  max-height: 597px;
}

.travel1,
.travel2,
.travel3 {
  position: relative;
}

.info {
  display: block;
}

.story_img {
  width: 95px;
  height: 95px;
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  position: relative;
}

.story-title {
  line-height: 24px;
  font-size: 16px;
  margin: 10px 0 0 10px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.stories_details {
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  margin: 10px 0 10px 10px;
}

.debate {
  border-bottom: 4px solid rgba(3, 3, 3, 0.4);
}

.debate_img {
  float: left;
}

.debate_img2 {
  float: right;
  margin-top: 30px;
}

.debate_details {
  border-bottom: 1px solid rgba(3, 3, 3, 0.4);
  padding-bottom: 20px;
}

.debate_details2 {
  border-top: 1px solid rgba(3, 3, 3, 0.4);
  border-bottom: 4px solid rgba(3, 3, 3, 0.4);
  margin-top: 1px;
  margin-bottom: 10px;
}

.debate_wrap {
  position: relative;
}

.vs {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 45%;
  background-color: black;
  color: #fff;
  padding: 6px;
  border-radius: 50%;
}

.title_debate {
  font-weight: bold;
  padding-left: 80px;
}

.cite {
  padding-left: 20px;
}

.cite2 {
  padding: 0;
}

.title_debate2 {
  font-weight: bold;
  margin-top: 30px;
}

.opi {
  min-height: 90px;
}

.opi img {
  float: left;
}

.opi h6 {
  font-weight: bold;
  margin-left: 80px;
  font-family: "Roboto Condensed", sans-serif;
}

.opi .author {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #666;
  margin-left: 80px;
}

.sponsor {
  margin-top: 40px;
}

.sponsor_details {
  font-size: 13px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
  border: 1px solid #e6e6e6;
}

.news {
  max-width: 300px;
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
  margin-top: 40px;
}

.label_title {
  display: flex;
  align-items: center;
  font: bold 19px/19px "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.news .sign-up input {
  width: 100%;
  height: 32px;
  line-height: 32px;
}

.sign-up .form-text {
  color: #555;
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  background-color: white;
  border: 1px solid #e0e1e1;
  text-indent: 9px;
}

.sign-up .form-submit {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 0;
  font-family: "Roboto Condensed", sans-serif;
  background: url(https://web.archive.org/web/20210120130223im_/https://g.newsweek.com/www/images/free-sign-up.svg) center/108px no-repeat #f61602;
  border-radius: 3px;
  box-sizing: border-box;
  border: 0 none;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
}

.news .sign-up .form-submit {
  margin-top: 8px;
}

.sign-up span {
  background-color: #f61602;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  margin-right: 10px;
  padding: 5px;
  color: #fff;
}

h3:hover,
h4:hover,
h6:hover {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-color: #f61602;
}

.newsletter_img {
  background-image: url("img/newsletter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 160px;
}

@media screen and (min-width: 769px) {
  .right ul {
    border-bottom: none;
  }

  .login {
    margin-bottom: 5px;
  }

  .newsletter_img {
    height: auto;
  }

  .suscribe_button {
    margin-bottom: 10px;
  }

  footer {
    width: 89.3%;
    margin: auto;
  }

  .col1,
  .col3 {
    display: block;
  }

  .header-wrapper {
    width: 91%;
    margin: auto;
    color: white;
    background-color: #f72210;
    max-width: 1310px;
  }

  main {
    width: 91%;
    margin: auto;
  }

  .logo-head {
    position: absolute;
    right: 37%;
    top: 5%;
    width: 350px;
  }

  .footer_sep {
    display: block;
    border: 1px solid #8a8a8a;
    margin: 0;
    padding: 0;
    background-color: #f4f5f6;
    color: #f4f5f6;
    line-height: 0;
  }

  .links {
    padding-top: 20px;
  }

  .social {
    float: right;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-links > li {
    border-right: none !important;
    padding-top: 0.75rem !important;
  }

  .footer-social {
    font-size: 20px;
    padding-top: 0.75rem !important;
  }

  .btn-box {
    margin-right: 0;
    margin-bottom: 0;
  }

  .foot-a {
    text-decoration: none !important;
    color: #6c757d !important;
  }

  .footer-links {
    font-size: 0.85rem;
    line-height: 14px;
    padding-right: 1rem !important;
  }

  .footer-section {
    border-top: 1px solid #666;
  }

  .logo-footer {
    color: #fff;
    fill: #f72210;
    width: 236px;
  }

  .footer-copyright {
    font-size: 0.8rem;
    line-height: 12px;
    text-transform: uppercase;
    color: #666;
    padding-top: 1rem !important;
  }

  .footer-social,
  .footer-social a {
    font-size: 26px !important;
    color: grey;
    text-decoration: none !important;
  }

  .footer-wrap a {
    font-size: 13px;
  }

  .body-wrapper {
    width: 100%;
    max-width: 1310px;
    margin: 0;
  }

  .vs-circle {
    width: 30px;
    height: 30px;
    font-size: 0.8em;
    margin-top: -14px;
    margin-bottom: -15px;
    z-index: 1;
  }

  .btn-danger {
    background-color: #f72310;
  }

  .text-danger {
    color: #f72310;
  }
}

.suscribe {
  background-color: #f4f5f6;
}
